/* Animation Heading */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.content {
    width: 60%;
    margin: 0 auto;
    z-index: -1;
    position: absolute;
    top: 60%;
    left: 10%;
    transform: translate(0, -50%);
}

.content h1 {
    font-size: 54px;
    color: #101010;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.content p {
    margin-top: 0;
    text-align: left;
    color: #101010;
}

.overlay-2 {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #48A9A6;
}

.overlay {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #101010;
}

.overlay p {
    font-size: 300px;
    font-weight: 800;
}

.screen {
    color: #323232;
    font-family: Poppins;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.myBtn {
    font-family: Poppins;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    display: block;
    padding: 24px 48px;
    font-family: Poppins;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 6px;
    color: #fff;
    border: 2px solid #fff;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    background: none;
    z-index: 1;
    cursor: crosshair;
    transition: 0.8s ease-out;
}

.myBtn:hover {
    color: #101010;
    cursor: crosshair;
}

.myBtn:before {
    content: "";
    position: absolute;
    background: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top 0.8s ease-out;
}

.myBtn:hover:before {
    top: 0;
}

/******Styling From Traversy Tutorial*******/
body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1.8em;
    color: #666;
}

.pimg1, .pimg2, .pimg3, .pimg4 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 90vh;
}


/*****fixed = parallax
     scroll = normal******/

.quotedTitle {
    animation: linear 15s rotate infinite;
    animation-duration: ;
}

@keyframes rotate
  from
    transform: rotateZ(0deg)
  to
    transform: rotateZ(360deg)

p {
    /* text-align: center; */
    height: 75vh;
    margin: 0 auto;
    width: 50%;
    
}

.pimg1 {
    background-image: url(./img/sky1.jpg);
    min-height: 100%;
}

.pimg2 {
    background-image: url(./img/sky2.jpg);
    min-height: 400px;
}

.pimg3 {
    background-image: url(./img/sky3.jpg);
    min-height: 400px;
}

.pimg4 {
    background-image: url(./img/sky4.jpg);
    min-height: 400px;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.ptext .border.trans {
    background-color: transparent;
}

.quotedTitle {

 
}

footer {
    text-align: center;
    padding-top:30px;
    padding-bottom: 30px;
}

/******Styling from Codegrid
html {
    height: 100%;
    overflow: hidden;
}

body {
    color: #fff;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "Luna";

}

header {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    transform-style: inherit;
    width: 100vw;
}

header h1 {
    margin-top: -100px;
}

header, header:before {
    background: 50% 50% / cover;
}


header::before{
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url(./img/pexels-stanislav-kondratiev-3708607.jpg);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

header * {
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 1em 0;
} ******/